<div class="jumbotron">
    <table st-table="vm.articles" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in vm.articles | orderBy:'name' track by article.id">
                <td>{{article.id}}</td>
                <td>{{article.name}}</td>
                <td>
                    <button class="btn-sm btn-info" ui-sref="articleDetail({articleId: article.id})">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </td>
                <td>
                    <button class="btn-sm btn-danger" ng-click="vm.deleteArticle(article)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button style="margin-bottom: 1rem;" class="btn-sm btn-info" ui-sref="newArticle">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Article
</button>
