<div class="page-header">
    <h1 ng-if="!vm.isEdit">{{vm.article.name}}</h1>
    <a href="#" ng-if="!vm.isEdit" ng-click="vm.isEdit = !vm.isEdit">edit</a>
    <input ng-if="vm.isEdit" ng-model="vm.article.name" type="text" class="form-control" placeholder="Name your article">
</div>
<div class="jumbotron">
    <div ng-show="vm.noContent()" class="page-header">
        <h3><small>This article is currently empty. Write something!</small></h3>
    </div>
    <div btf-markdown="vm.article.content"></div>
</div>
<hr>
<div ng-if="vm.isEdit">
    <div class="btn-group" role="group" aria-label="something">
        <button ng-click="vm.appendToContent('# ')" type="button" class="btn btn-default">
            <b>H1</b>
        </button>
        <button ng-click="vm.appendToContent('## ')" type="button" class="btn btn-default">
            <b>H2</b>
        </button>
        <button ng-click="vm.appendToContent('### ')" type="button" class="btn btn-default">
            <b>H3</b>
        </button>
        <button ng-click="vm.appendToContent('****')" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
        </button>
        <button ng-click="vm.appendToContent('**')" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
        </button>
        <button ng-click="vm.appendToContent('+ ')" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
        <button ng-click="vm.appendToContent('[text](url)')" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wiki <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="art in vm.allArticles" ng-click="vm.generateWikiLinkFor(art)">
                	<a href="#">{{art.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <textarea class="form-control" ng-model="vm.article.content" cols="30" rows="10"></textarea>
    <button style="margin: 1rem;" class="btn-sm btn-success" ng-click="vm.saveArticle(vm.article)">Save</button>
</div>
